from .base import *

DEBUG = True

# CHANNELS
ASGI_APPLICATION = "segursatgps.asgi.application"
CHANNEL_LAYERS = {
    'default': {
        'BACKEND': 'channels_redis.core.RedisChannelLayer',
        'CONFIG': {
            "hosts": [('172.31.79.137', 6379)],
        },
    },
}

# CELERY
CELERY_BROKER_URL = 'redis://localhost:6379'
CELERY_RESULT_BACKEND = 'redis://localhost:6379'
CELERY_RESULT_EXPIRES = 3600
CELERY_ACCEPT_CONTENT = ['application/json']
CELERY_RESULT_SERIALIZER = 'json'
CELERY_TASK_SERIALIZER = 'json'

# SIMPLE JWT
SIMPLE_JWT = {
    'ACCESS_TOKEN_LIFETIME': timedelta(minutes=30),
    'REFRESH_TOKEN_LIFETIME': timedelta(days=1),
}

# CORS
CORS_ORIGIN_ALLOW = True
CORS_ALLOW_CREDENTIALS = True
CORS_ALLOW_ALL_ORIGINS = True
CORS_ALLOWED_ORIGINS = [
    "https://desarrollo.segursat.com",
    "http://desarrollo.segursat.com",
    "http://localhost:3000",
]

# GEOCODING SERVER
GEOCODING_ENABLED = True
GEOCODING_SERVER = '172.31.72.75'
GEOCODING_TIMEOUT = 10

# MULTILOGIN
MOBILE_LOGIN_SUBDOMAIN = 'mobile'
MANAGEMENT_LOGIN_SUBDOMAIN = 'mgmt'
